<!--[if IE 6]>
    <style type="text/css">

      body {
      background-color:#f3f3f3;		
      }
      li.category-root {
      float: none;
      }

      #left_column {
      position: absolute;
      top: 0;
      left: 6px;
      z-index: 10;
      }

      #body {
      position: absolute;
      top: 135px;
      left: 125px;
      z-index: 9;
      }

      #body.with-tabs {
      top: 160px;
      }

      #footer_recent, #footer_eden {
      display: none;
      }

      #home_content_area {
      margin-top:23px;
      }
      legend {
      margin-bottom:20px;
      }


      .result_details {
      width: 400px;
      }

      .result_title {
      width: 400px;
      }

      fieldset .result_details {
      width: 355px;
      }

      fieldset .result_title {
      width: 355px;
      }

    </style>
    <![endif]-->

    <!--[if IE 7]>
    <style type="text/css">
      @import "/new/stylesheets/ie7_hacks.css?20081231001201"; 
    </style>
    <![endif]-->
