<div id="orientation">
  <div id="search_field">
    <strong>Search &nbsp;</strong>
    <form action="/searches" method="get">
      <input class="input" id="term" name="term" style="width: 115px;" value="" type="text">
      <select id="type" name="type"><option value="files">All Files</option>
        <option value="flash">Flash</option>
        <option value="fonts">Fonts</option>
        <option value="users">Users</option>
        <option value="forums">Forums</option>
        <option value="site">All Site</option>
        <option value="entire_network">Entire Network</option></select>
      <input class="input_button" value="Go " type="submit">
    </form>
  </div>
  <% if is_logged_in? %>
    <div id="page_title">
      <div id="page_title_content">
        <h1><%= logged_in_user.username.upcase %></h1>
      </div>
    </div>
    <div id="snail_trail">
      <a href="/">Home</a>
      › <strong><%= logged_in_user.username.upcase %></strong>
    </div>
  <% else %>
   <div id="page_title">
    <div id="page_title_content">
      <h1>SIGN UP</h1>
    </div>
  </div>
  <div id="snail_trail">
    <a href="/">Home</a>
    › <strong>Sign Up</strong>
  </div>
<% end %>
</div>
