<img src="../images/image/community.gif" id="community_title"/>
<img src="../images/image/community_icon.jpg" id="community_icon"/>
<ul class="tabs" id="community_tabs">
  <li><a href="javascript:tabswitch('1', 3, 'com_tab', 'com_panel');" id="com_tab_1" class="active">Blog</a></li>
  <li><a href="javascript:tabswitch('2', 3, 'com_tab', 'com_panel');" id="com_tab_2">Forum Threads</a></li>
  <li><a href="javascript:tabswitch('3', 3, 'com_tab', 'com_panel');" id="com_tab_3">Featured!</a></li>
</ul>
<div class="panel_community"> 
  <div id="com_panel_1">
    <ul class="community_list">
      <li><a href="http://feedproxy.google.com/~r/Flashden-DownTheFoxhole/~3/CAJZejg3fkw/">Happy New Year & Resolutions Time!</a><small>&nbsp; December 31</small></li>
    </ul>
    <div class="end_link">
      <a href="http://blog.flashden.net" class="link_button_small" style="right:0px;">Read More Posts</a>
    </div>
  </div>
  <div id="com_panel_2" style="display:none;">
    <ul>
      <li><a href="/forums/thread/christmas-avatar-competition-unofficial/8399">Christmas Avatar Competition (unofficial)</a></strong> <small><a href="/forums/thread/christmas-avatar-competition-unofficial/8399?page=32#74022">ADG3studios</a></small></li>
  </ul>
  <div class="end_link">
    <a href="/forums" class="link_button_small" style="right:0px;">View More Threads</a>
  </div>
</div>
<div id="com_panel_3" style="display:none;">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td width="100" valign="top">
        <a href="/user/animike"><img alt="51883" height="80" src="../images/image/51883.jpg?1224254234" width="80" /></a>
      </td>
      <td valign="top">
        <a href="/user/animike">animike</a>
        <p><span class="caps">A 10</span> year flash veteran and animation master, animike&#8217;s portfolio is chock full of good ol&#8217; animated goodness. So check out his great files, straight from the Big Apple!</p>
      </td>
    </tr>
  </table>
</div>
  </div>
