Hello <strong><a href="/user/jshmemory"><%= logged_in_user.username %></a></strong>. A few things you might like to do:
<div id="next_steps">
  <div class="next">
    <img src="../images/image/arrow.png"/>
    <big><a href="/deposit">Deposit Cash</a></big>
  </div>
  <div class="next">
    <img src="../images/image/arrow.png"/>
    <big><a href="/user/jshmemory" class="">Update your Homepage</a></big>
  </div>
  <div class="next">
    <img src="../images/image/arrow.png"/>
    <big><a href="/upload/essentials">Become an Author</a></big>
  </div>
</div>
Have a great day!
