<div id="start_browsing">
  <img src="../images/image/start_browsing.jpg" id="browsing_title">
  <img src="../images/image/icon_browse.jpg" id="browsing_icon">
  <ul class="tabs">
    <li><a href="javascript:tabswitch('1', 3, 'tab', 'panel');" id="tab_1" class="active">Recent</a></li>
    <li><a href="javascript:tabswitch('2', 3, 'tab', 'panel');" id="tab_2">Popular</a></li>
    <li><a href="javascript:tabswitch('3', 3, 'tab', 'panel');" id="tab_3">Search</a></li>
  </ul>
  <div class="panel">
    <!-- PANEL 1 - RECENT EXCLUSIVE -->
    <div id="panel_1">
      <table cellpadding="0" cellspacing="0" class="recent_table">
        <tr>
          <td valign='top'>
            <div>
              <a href="/item/neon-ad-rotator/24960"><img alt="66475" border="0" height="80" id="thumb_24960" src="/files/66475.jpg?1230340721" width="80" /></a>
            </div>
            <a href="/item/neon-ad-rotator/24960">NEON AD Rotator</a>
          </td>
        </tr>
      </table>
      <div class="end_link">
        <a href="/category/index" class="link_button_small">Continue Browsing</a>
      </div>
    </div>
    <!-- PANEL 2 - POPULAR -->
    <div id="panel_2" style="display:none;">
      <table cellpadding="0" cellspacing="0" class="recent_table">
        <tr>
          <td valign='top'>
            <div>
              <a href="/item/xml-portfolio-template-v3/18585"><img alt="47882" border="0" height="80" id="thumb_18585" src="/files/47882.jpg?1222408270" width="80" /></a>
            </div>
            19 Sales <br />
            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />
            <br />
            <strong>8.</strong> <a href="/item/xml-portfolio-template-v3/18585">XML Portfolio Template V3</a>
          </td>
        </tr>
      </table>
      <div class="end_link">
        <a href="/page/top_sellers" class="link_button_small">View More Popular Items</a>
      </div>
    </div>
    <!-- PANEL 3 - SEARCH -->
    <div id="panel_3" style="display:none;">
      <div id="panel_left">
        <img src="/new/images/interface/home_search.gif"><br />
        <form action="/searches" method="get">
          <input id="term" name="term" type="text" class="input_home" />
          <select id="type" name="type"><option value="files">All Files</option>
            <option value="flash">Flash</option>
            <option value="fonts">Fonts</option>
            <option value="users">Users</option>
            <option value="forums">Forums</option>
            <option value="site">All Site</option>
            <option value="entire_network">Entire Network</option></select>
          <input type="submit" value="Search" class="input_button"/>
        </form>
      </div>
      <div id="panel_right">
        <img src="/new/images/interface/home_browse.gif"><br />
        <a href="/category/flash" class="link_button">Flash</a>
        <a href="/category/fonts" class="link_button">Fonts</a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
