<div id="welcome_panel">
  <div id="steps">
    <div class="step">
      <img src="../images/image/1.jpg"/>
      <big><%= link_to 'Create an Account',signup_path%></big>
      Takes just a couple of minutes and is free!
    </div>
    <div class="step">
      <img src="../images/image/2.jpg"/>
      <big><a href="/signup">Deposit Cash</a></big>
      Add some money to your account
    </div>
    <div class="step">
      <img src="../images/image/3.jpg"/>
      <big><a href="/category/index">Find the Items You Want</a></big>
      Browse or search our huge library of items
    </div>
    <div class="step">
      <img src="../images/image/4.jpg"/>
      <big><a href="/signup">Purchase & Download</a></big>
      Cash will be deducted from your account
    </div>
  </div>
  <div id="flash_item">
    <div id="flash_item_container">
      <img src="../images/image/item.jpg"/>
    </div>
  </div>
<div id="what_is">
  <img src="../images/image/what_is.jpg"/>
  <p>At FlashDen you can buy and sell files to use in your Adobe Flash projects. You’ll find everything from preloaders to site templates, all selling for as little as $1.</p>	    
</div>
</div>
