<%= render :partial => 'orien'%>
<% if is_logged_in? %>
  <!-- START BODY -->
  <div id="body">
    <div id="home_content_area">
      <!-- THIS VERSION OF THE HOMEPAGE APPEARS WHEN THE USER _IS_ LOGGED IN -->
      <!-- We need to use a table so we can use the joint cells to control heights when tabs are changed -->
      <table cellpadding="0" cellspacing="0" border="0" id="top_panel">
        <tr>
          <td id="dashboard" valign="top" style='background-image:url(../images/image/home_banner_bg2.jpg)'>
            <!-- Dashboard -->
            Hello <strong><a href="/user/jshmemory"><%= logged_in_user.username %> </a></strong>. A few things you might like to do:
            <div id="next_steps">
              <div class="next">
                <img src="../images/css/arrow.png"/>
                <big><a href="/deposit">Deposit Cash</a></big>
              </div>
              <div class="next">
                <img src="../images/css/arrow.png"/>
                <big><a href="/user/jshmemory" class="">Update your Homepage</a></big>
              </div>
              <div class="next">
                <img src="../images/css/arrow.png"/>
                <big><a href="/upload/essentials">Become an Author</a></big>
              </div>
            </div>
            Have a great day!
            <!-- End Dashboard -->
          </td>
          <td id="spacer">&nbsp;</td>
          <td id="community" valign="top">
            <!-- Community -->
            <img src="../images/image/community.gif" id="community_title"/>
            <img src="../images/image/community_icon.jpg" id="community_icon"/>
            <ul class="tabs" id="community_tabs">
              <li><a href="javascript:tabswitch('1', 3, 'com_tab', 'com_panel');" id="com_tab_1" class="active">Blog</a></li>
              <li><a href="javascript:tabswitch('2', 3, 'com_tab', 'com_panel');" id="com_tab_2">Forum Threads</a></li>
              <li><a href="javascript:tabswitch('3', 3, 'com_tab', 'com_panel');" id="com_tab_3">Featured!</a></li>
            </ul>
            <div class="panel_community"> 
              <div id="com_panel_1">
                <ul class="community_list">
                  <li><a href="http://feedproxy.google.com/~r/Flashden-DownTheFoxhole/~3/CAJZejg3fkw/">Happy New Year & Resolutions Time!</a><small>&nbsp; December 31</small></li>
                  <li><a href="http://feedproxy.google.com/~r/Flashden-DownTheFoxhole/~3/5BvROYiNfoo/">Top WordPress Plugins That Use Flash</a><small>&nbsp; December 30</small></li>
                  <li><a href="http://feedproxy.google.com/~r/Flashden-DownTheFoxhole/~3/LSibl8Z4lFk/">Adobe Labs: PatchPanel</a><small>&nbsp; December 28</small></li>
                  <li><a href="http://feedproxy.google.com/~r/Flashden-DownTheFoxhole/~3/-uXmzO6MgeA/">VoIP via Flash?</a><small>&nbsp; December 26</small></li>
                  <li><a href="http://feedproxy.google.com/~r/Flashden-DownTheFoxhole/~3/Y279l-WUxAQ/">Merry Christmas!</a><small>&nbsp; December 25</small></li>
                </ul>
                <div class="end_link">
                  <a href="http://blog.flashden.net" class="link_button_small" style="right:0px;">Read More Posts</a>
                </div>
              </div>
              <div id="com_panel_2" style="display:none;">
                <ul>
                  <li><a href="/forums/thread/christmas-avatar-competition-unofficial/8399">Christmas Avatar Competition (unofficial)</a></strong> <small><a href="/forums/thread/christmas-avatar-competition-unofficial/8399?page=32#74022">ADG3studios</a></small></li>
                <li><a href="/forums/thread/database-software/8731">database software</a></strong> <small><a href="/forums/thread/database-software/8731?page=1#74007">squaredmonkey</a></small></li>
              <li><a href="/forums/thread/free-flash-files/8590">Free flash files</a></strong> <small><a href="/forums/thread/free-flash-files/8590?page=1#74006">LanceSnider</a></small></li>
            <li><a href="/forums/thread/mp3-video/8730">MP3 + Video</a></strong> <small><a href="/forums/thread/mp3-video/8730?page=1#73995">Chad</a></small></li>
          <li><a href="/forums/thread/charges-against-actionscript-30/5686">Charges Against Actionscript 3.0</a></strong> <small><a href="/forums/thread/charges-against-actionscript-30/5686?page=6#73993">unchartedrealms</a></small></li>
        <li><a href="/forums/thread/happy-new-year-everybody-/8724">Happy New Year Everybody !</a></strong> <small><a href="/forums/thread/happy-new-year-everybody-/8724?page=1#73987">unchartedrealms</a></small></li>
      <li><a href="/forums/thread/i-need-a-browser-like-the-one-on-nvidia-site/8725">i need a browser like the one on nvidia site</a></strong> <small><a href="/forums/thread/i-need-a-browser-like-the-one-on-nvidia-site/8725?page=1#73977">SuperFlash</a></small></li>
    <li><a href="/forums/thread/banner-with-100-scalable-width/8718">Banner with 100% Scalable Width</a></strong> <small><a href="/forums/thread/banner-with-100-scalable-width/8718?page=1#73973">MBMedia</a></small></li>
  <li><a href="/forums/thread/call-lightwindow-from-flash-xml/8723">Call lightwindow from flash xml</a></strong> <small><a href="/forums/thread/call-lightwindow-from-flash-xml/8723?page=1#73949">animike</a></small></li>
<li><a href="/forums/thread/private-lounge-/8699">Private lounge ?</a></strong> <small><a href="/forums/thread/private-lounge-/8699?page=3#73944">FonZ</a></small></li>
      </ul>
      <div class="end_link">
        <a href="/forums" class="link_button_small" style="right:0px;">View More Threads</a>
      </div>
    </div>
    <div id="com_panel_3" style="display:none;">
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td width="100" valign="top">
            <a href="/user/animike">
              <img alt="51883" height="80" src="../images/image/51883.jpg?1224254234" width="80" />
            </a>
          </td>
          <td valign="top">
            <a href="/user/animike">animike</a>
            <p><span class="caps">A 10</span> year flash veteran and animation master, animike&#8217;s portfolio is chock full of good ol&#8217; animated goodness. So check out his great files, straight from the Big Apple!</p>
          </td>
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
          <td valign="top">
            <div>
              <a href="/item/elegant-flashxml-website/22881"><img alt="60765" border="0" height="80" id="thumb_22881" src="/files/60765.jpg?1228281876" width="80" /></a>
            </div>
          </td>
          <td valign="top">
            <a href="/item/elegant-flashxml-website/22881">Elegant Flash/XML Website</a>
            <p>Add some nitro to your template arsenal with this awesome piece by Nitrox. It really is nice looking, so make sure you don&#8217;t miss it!</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- End Community -->
</td>
</tr>
</table>
<!-- Start Browsing Panel -->
<div id="start_browsing">
  <img src="/new/site_flashden.net/home/start_browsing.jpg" id="browsing_title">
  <img src="/new/site_flashden.net/home/icon_browse.jpg" id="browsing_icon">
  <ul class="tabs">
    <li><a href="javascript:tabswitch('1', 3, 'tab', 'panel');" id="tab_1" class="active">Recent</a></li>
    <li><a href="javascript:tabswitch('2', 3, 'tab', 'panel');" id="tab_2">Popular</a></li>
    <li><a href="javascript:tabswitch('3', 3, 'tab', 'panel');" id="tab_3">Search</a></li>
  </ul>
  <div class="panel">
    <!-- PANEL 1 - RECENT EXCLUSIVE -->

    <div id="panel_1">            
      <table cellpadding="0" cellspacing="0" class="recent_table">


        <tr>
          <td valign='top'>


            <div>

              <a href="/item/circular-preloader-with-snow/24926"><img alt="66360" border="0" height="80" id="thumb_24926" src="/files/66360.jpg?1230286403" width="80" /></a>
            </div>

            <a href="/item/circular-preloader-with-snow/24926">Circular Preloader with snow</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/ultimate-xml-banner-rotator/24895"><img alt="66276" border="0" height="80" id="thumb_24895" src="/files/66276.jpg?1230207864" width="80" /></a>
            </div>

            <a href="/item/ultimate-xml-banner-rotator/24895">Ultimate XML Banner Rotator</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/tiny-flv-player/24970"><img alt="66495" border="0" height="80" id="thumb_24970" src="/files/66495.jpg?1230353935" width="80" /></a>
            </div>

            <a href="/item/tiny-flv-player/24970">Tiny FLV player</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/realistic-water/25100"><img alt="66793" border="0" height="80" id="thumb_25100" src="/files/66793.jpg?1230521843" width="80" /></a>
            </div>

            <a href="/item/realistic-water/25100">Realistic water</a>
          </td>



          <td valign='top'>


            <div>

              <a href="/item/xml-slideshow-papervision-3d-transition/24901"><img alt="66286" border="0" height="80" id="thumb_24901" src="/files/66286.jpg?1230214884" width="80" /></a>
            </div>

            <a href="/item/xml-slideshow-papervision-3d-transition/24901">XML Slideshow Papervision 3D Transition</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/lite-dynamic-website-v2/24964"><img alt="66486" border="0" height="80" id="thumb_24964" src="/files/66486.jpg?1230349354" width="80" /></a>
            </div>

            <a href="/item/lite-dynamic-website-v2/24964">Lite Dynamic Website V.2</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/horizontal-thumbnails-scroller-as3/25064"><img alt="66712" border="0" height="80" id="thumb_25064" src="/files/66712.jpg?1230486860" width="80" /></a>
            </div>

            <a href="/item/horizontal-thumbnails-scroller-as3/25064">Horizontal Thumbnails Scroller AS3</a>
          </td>

        </tr>

        <tr>
          <td valign='top'>


            <div>
              <a href="/item/php-contact-form/24945"><img alt="66445" border="0" height="80" id="thumb_24945" src="/files/66445.jpg?1230322783" width="80" /></a>
            </div>

            <a href="/item/php-contact-form/24945">PHP CONTACT FORM</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/the-accordnav-xml-navigation/25005"><img alt="66569" border="0" height="80" id="thumb_25005" src="/files/66569.jpg?1230406030" width="80" /></a>
            </div>

            <a href="/item/the-accordnav-xml-navigation/25005">The AccordNav xml Navigation</a>
          </td>



          <td valign='top'>


            <div>

              <a href="/item/xml-banner-xml-rotaotor/24916"><img alt="66341" border="0" height="80" id="thumb_24916" src="/files/66341.gif?1230246107" width="80" /></a>
            </div>

            <a href="/item/xml-banner-xml-rotaotor/24916">xml banner - xml rotaotor</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/ladybug/25022"><img alt="66619" border="0" height="80" id="thumb_25022" src="/files/66619.jpg?1230424813" width="80" /></a>
            </div>

            <a href="/item/ladybug/25022">Ladybug</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/minimal-xml-template-v1/24934"><img alt="66399" border="0" height="80" id="thumb_24934" src="/files/66399.png?1230314033" width="80" /></a>
            </div>

            <a href="/item/minimal-xml-template-v1/24934">Minimal XML Template V1</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/xml-zoom-pan-tool-v10/25083"><img alt="66763" border="0" height="80" id="thumb_25083" src="/files/66763.jpg?1230505219" width="80" /></a>
            </div>

            <a href="/item/xml-zoom-pan-tool-v10/25083">XML Zoom Pan Tool V1.0</a>
          </td>



          <td valign='top'>


            <div>

              <a href="/item/slideshow-banner-rotator-xml-driven/24850"><img alt="66141" border="0" height="80" id="thumb_24850" src="/files/66141.jpg?1230118257" width="80" /></a>
            </div>

            <a href="/item/slideshow-banner-rotator-xml-driven/24850">Slideshow Banner Rotator - XML Driven</a>
          </td>
        </tr>

        <tr>
          <td valign='top'>


            <div>

              <a href="/item/neon-ad-rotator/24960"><img alt="66475" border="0" height="80" id="thumb_24960" src="/files/66475.jpg?1230340721" width="80" /></a>
            </div>

            <a href="/item/neon-ad-rotator/24960">NEON AD Rotator</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/xml-gallery-xml-rotaotor-xml-slideshow/25015"><img alt="66598" border="0" height="80" id="thumb_25015" src="/files/66598.gif?1230415434" width="80" /></a>
            </div>

            <a href="/item/xml-gallery-xml-rotaotor-xml-slideshow/25015">xml gallery - xml rotaotor - xml slideshow</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/lightweight-wavy-line-effects/25024"><img alt="66622" border="0" height="80" id="thumb_25024" src="/files/66622.jpg?1230424955" width="80" /></a>
            </div>

            <a href="/item/lightweight-wavy-line-effects/25024">Lightweight wavy line effects</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/mp3-player-with-xml-silver-skin/24957"><img alt="66905" border="0" height="80" id="thumb_24957" src="/files/66905.jpg?1230587190" width="80" /></a>
            </div>

            <a href="/item/mp3-player-with-xml-silver-skin/24957">MP3 Player with XML - silver skin</a>
          </td>



          <td valign='top'>


            <div>

              <a href="/item/mini-image-gallery-ver-2/25050"><img alt="66683" border="0" height="80" id="thumb_25050" src="/files/66683.jpg?1230472159" width="80" /></a>
            </div>

            <a href="/item/mini-image-gallery-ver-2/25050">Mini Image Gallery ver 2</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/happy-new-year/24940"><img alt="66428" border="0" height="80" id="thumb_24940" src="/files/66428.jpg?1230320107" width="80" /></a>
            </div>

            <a href="/item/happy-new-year/24940">Happy New Year</a>
          </td>



          <td valign='top'>


            <div>
              <a href="/item/as3-xml-banner-rotator/25073"><img alt="66739" border="0" height="80" id="thumb_25073" src="/files/66739.jpg?1230499728" width="80" /></a>
            </div>

            <a href="/item/as3-xml-banner-rotator/25073">AS3 XML BANNER ROTATOR</a>
          </td>

        </tr>


      </table>
      <div class="end_link">
        <a href="/category/index" class="link_button_small">Continue Browsing</a>
      </div>
    </div>

    <!-- PANEL 2 - POPULAR -->

    <div id="panel_2" style="display:none;">

      <table cellpadding="0" cellspacing="0" class="recent_table">



        <tr>
          <td valign='top'>


            <div>
              <a href="/item/blue-christmas-card/24526"><img alt="65162" border="0" height="80" id="thumb_24526" src="/files/65162.jpg?1229758418" width="80" /></a>
            </div>


            38 Sales <br />



            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>1.</strong> <a href="/item/blue-christmas-card/24526">Blue Christmas card</a>
          </td>




          <td valign='top'>


            <div>

              <a href="/item/banner-rotator-with-auto-delay-time/22243"><img alt="59650" border="0" height="80" id="thumb_22243" src="/files/59650.png?1227841638" width="80" /></a>
            </div>


            35 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>2.</strong> <a href="/item/banner-rotator-with-auto-delay-time/22243">BANNER ROTATOR with Auto Delay Time</a>

          </td>




          <td valign='top'>


            <div>
              <a href="/item/background-animation-blurry-light-cells/21980"><img alt="58005" border="0" height="80" id="thumb_21980" src="/files/58005.jpg?1227057241" width="80" /></a>
            </div>


            26 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>3.</strong> <a href="/item/background-animation-blurry-light-cells/21980">background animation - Blurry Light cells</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/advanced-xml-website/20118"><img alt="53647" border="0" height="80" id="thumb_20118" src="/files/53647.jpg?1225089358" width="80" /></a>

            </div>


            25 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>4.</strong> <a href="/item/advanced-xml-website/20118">Advanced XML Website</a>

          </td>




          <td valign='top'>


            <div>
              <a href="/item/realistic-fireworks-behind-your-foreground/24764"><img alt="65907" border="0" height="80" id="thumb_24764" src="/files/65907.jpg?1229993743" width="80" /></a>
            </div>


            20 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_off" src="/new/images/interface/star_off.gif?1225856722" />


            <br />
            <strong>5.</strong> <a href="/item/realistic-fireworks-behind-your-foreground/24764">Realistic fireworks behind your foreground</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/magical-snow-falling/21360"><img alt="56326" border="0" height="80" id="thumb_21360" src="/files/56326.jpg?1226274258" width="80" /></a>

            </div>


            19 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>6.</strong> <a href="/item/magical-snow-falling/21360">Magical Snow Falling</a>

          </td>




          <td valign='top'>


            <div>
              <a href="/item/zoom-pan-controls-with-dynamic-image-settings/15713"><img alt="40893" border="0" height="80" id="thumb_15713" src="/files/40893.png?1218137151" width="80" /></a>
            </div>


            19 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>7.</strong> <a href="/item/zoom-pan-controls-with-dynamic-image-settings/15713">ZOOM / PAN CONTROLS - With Dynamic Image & Settings</a>
          </td>
        </tr>


        <tr>
          <td valign='top'>



            <div>
              <a href="/item/xml-portfolio-template-v3/18585"><img alt="47882" border="0" height="80" id="thumb_18585" src="/files/47882.jpg?1222408270" width="80" /></a>
            </div>


            19 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />

            <strong>8.</strong> <a href="/item/xml-portfolio-template-v3/18585">XML Portfolio Template V3</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/complete-xml-website/22273"><img alt="58915" border="0" height="80" id="thumb_22273" src="/files/58915.jpg?1227530257" width="80" /></a>
            </div>


            16 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>9.</strong> <a href="/item/complete-xml-website/22273">COMPLETE XML WEBSITE</a>
          </td>




          <td valign='top'>



            <div>
              <a href="/item/happy-new-year-2009-greetinganimation/23304"><img alt="61732" border="0" height="80" id="thumb_23304" src="/files/61732.jpg?1228576091" width="80" /></a>
            </div>


            15 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_off" src="/new/images/interface/star_off.gif?1225856722" />


            <br />

            <strong>10.</strong> <a href="/item/happy-new-year-2009-greetinganimation/23304">Happy New Year 2009 - Greeting/Animation</a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/magic-christmas-star/6212"><img alt="14796" border="0" height="80" id="thumb_6212" src="/files/14796.jpg?1196342911" width="80" /></a>
            </div>


            15 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>11.</strong> <a href="/item/magic-christmas-star/6212">Magic Christmas Star</a>
          </td>




          <td valign='top'>



            <div>
              <a href="/item/advanced-xml-image-gallery-/4746"><img alt="40123" border="0" height="80" id="thumb_4746" src="/files/40123.jpg?1217764680" width="80" /></a>
            </div>


            15 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />

            <strong>12.</strong> <a href="/item/advanced-xml-image-gallery-/4746">Advanced XML Image Gallery </a>
          </td>




          <td valign='top'>


            <div>
              <a href="/item/opening-curtain/14496"><img alt="37358" border="0" height="80" id="thumb_14496" src="/files/37358.gif?1215790405" width="80" /></a>
            </div>


            14 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />
            <strong>13.</strong> <a href="/item/opening-curtain/14496">Opening curtain</a>
          </td>




          <td valign='top'>



            <div>
              <a href="/item/dynamic-photo-gallery-slideshow-xml-as3/23890"><img alt="65493" border="0" height="80" id="thumb_23890" src="/files/65493.jpg?1229887016" width="80" /></a>
            </div>


            14 Sales <br />


            <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


            <br />

            <strong>14.</strong> <a href="/item/dynamic-photo-gallery-slideshow-xml-as3/23890">Dynamic Photo Gallery / Slideshow (XML / AS3)</a>
          </td>
        </tr>


      </table>
      <div class="end_link">
        <a href="/page/top_sellers" class="link_button_small">View More Popular Items</a>
      </div>

    </div>

    <!-- PANEL 3 - SEARCH -->

    <div id="panel_3" style="display:none;">
      <div id="panel_left">
        <img src="/new/images/interface/home_search.gif"><br />
        <form action="/searches" method="get">
          <input id="term" name="term" type="text" class="input_home" />
          <select id="type" name="type"><option value="files">All Files</option>

            <option value="flash">Flash</option>
            <option value="fonts">Fonts</option>
            <option value="users">Users</option>
            <option value="forums">Forums</option>
            <option value="site">All Site</option>
            <option value="entire_network">Entire Network</option></select>
          <input type="submit" value="Search" class="input_button"/>
        </form>
      </div>

      <div id="panel_right">

        <img src="/new/images/interface/home_browse.gif"><br />

        <a href="/category/flash" class="link_button">Flash</a>

        <a href="/category/fonts" class="link_button">Fonts</a>

      </div>
      <div class="clear"></div>
    </div>          
  </div>
</div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <!-- END BODY -->
<% else %>
  <div id="body">
    <div id="home_content_area">

      <!-- THIS VERSION OF THE HOMEPAGE APPEARS WHEN THE USER IS not LOGGED IN -->
      <div id="welcome_panel">

        <div id="steps">
          <div class="step">
            <img src="../images/image/1.jpg"/>
            <big><a href="/signup">Create an Account</a></big>

            Takes just a couple of minutes and is free!
          </div>
          <div class="step">
            <img src="../images/image/2.jpg"/>
            <big><a href="/signup">Deposit Cash</a></big>
            Add some money to your account
          </div>
          <div class="step">
            <img src="../images/image/3.jpg"/>

            <big><a href="/category/index">Find the Items You Want</a></big>
            Browse or search our huge library of items
          </div>
          <div class="step">
            <img src="../images/image/4.jpg"/>
            <big><a href="/signup">Purchase & Download</a></big>
            Cash will be deducted from your account
          </div>

        </div>								
        <div id="flash_item">
          <div id="flash_item_container">
            <img src="../images/image/item.jpg"/>
          </div>
        </div>

        <script type="text/javascript">
          var flashvars = {};
var params = {
wmode: "transparent"
};
var attributes = { };
swfobject.embedSWF("../images/image/homepage.swf", "flash_item_container", "341", "214", "9.0.0","expressInstall.swf", flashvars, params, attributes);
</script>
<div id="what_is">
  <img src="../images/image/what_is.jpg"/>
  <p>At FlashDen you can buy and sell files to use in your Adobe Flash projects. You’ll find everything from preloaders to site templates, all selling for as little as $1.</p>	    
</div>
      </div>

      <!-- Welcome Panel -->


      <!-- Start Browsing Panel -->

      <div id="start_browsing">


        <img src="/new/site_flashden.net/home/start_browsing.jpg" id="browsing_title">
        <img src="/new/site_flashden.net/home/icon_browse.jpg" id="browsing_icon">
        <ul class="tabs">
          <li><a href="javascript:tabswitch('1', 3, 'tab', 'panel');" id="tab_1" class="active">Recent</a></li>
          <li><a href="javascript:tabswitch('2', 3, 'tab', 'panel');" id="tab_2">Popular</a></li>
          <li><a href="javascript:tabswitch('3', 3, 'tab', 'panel');" id="tab_3">Search</a></li>
        </ul>

        <div class="panel">

          <!-- PANEL 1 - RECENT EXCLUSIVE -->

          <div id="panel_1">            
            <table cellpadding="0" cellspacing="0" class="recent_table">


              <tr>
                <td valign='top'>


                  <div>
                    <a href="/item/interactive-ants/24745"><img alt="65878" border="0" height="80" id="thumb_24745" src="/files/65878.jpg?1229988172" width="80" /></a>
                  </div>

                  <a href="/item/interactive-ants/24745">interactive ants</a>
                </td>



                <td valign='top'>


                  <div>
                    <a href="/item/circular-preloader-with-snow/24926"><img alt="66360" border="0" height="80" id="thumb_24926" src="/files/66360.jpg?1230286403" width="80" /></a>
                  </div>

                  <a href="/item/circular-preloader-with-snow/24926">Circular Preloader with snow</a>
                </td>




                <td valign='top'>


                  <div>
                    <a href="/item/3d-square-menu-bar-3-level-with-sound/24779"><img alt="66828" border="0" height="80" id="thumb_24779" src="/files/66828.jpg?1230540432" width="80" /></a>
                  </div>

                  <a href="/item/3d-square-menu-bar-3-level-with-sound/24779">3D square menu bar (3 level with sound)</a>
                </td>



                <td valign='top'>


                  <div>

                    <a href="/item/swfimage-viewer-xmlbased/24717"><img alt="65745" border="0" height="80" id="thumb_24717" src="/files/65745.png?1229966474" width="80" /></a>
                  </div>

                  <a href="/item/swfimage-viewer-xmlbased/24717">SWF/Image Viewer XML-based</a>
                </td>



                <td valign='top'>


                  <div>
                    <a href="/item/mp3-player-with-xml-silver-skin/24957"><img alt="66905" border="0" height="80" id="thumb_24957" src="/files/66905.jpg?1230587190" width="80" /></a>
                  </div>

                  <a href="/item/mp3-player-with-xml-silver-skin/24957">MP3 Player with XML - silver skin</a>
                </td>



                <td valign='top'>


                  <div>
                    <a href="/item/vegetal-growing-01/24827"><img alt="66086" border="0" height="80" id="thumb_24827" src="/files/66086.jpg?1230077122" width="80" /></a>
                  </div>

                  <a href="/item/vegetal-growing-01/24827">Vegetal Growing 01</a>
                </td>




                <td valign='top'>


                  <div>
                    <a href="/item/realistic-fireworks-behind-your-foreground/24764"><img alt="65907" border="0" height="80" id="thumb_24764" src="/files/65907.jpg?1229993743" width="80" /></a>
                  </div>

                  <a href="/item/realistic-fireworks-behind-your-foreground/24764">Realistic fireworks behind your foreground</a>
                </td>
              </tr>

              <tr>

                <td valign='top'>


                  <div>
                    <a href="/item/photographers-xml-portfolio/24710"><img alt="65725" border="0" height="80" id="thumb_24710" src="/files/65725.jpg?1229962160" width="80" /></a>
                  </div>

                  <a href="/item/photographers-xml-portfolio/24710">Photographer’s XML Portfolio</a>
                </td>
                <td valign='top'>

                  <div>

                    <a href="/item/growing-grass/24731"><img alt="65826" border="0" height="80" id="thumb_24731" src="/files/65826.jpg?1229979987" width="80" /></a>
                  </div>

                  <a href="/item/growing-grass/24731">Growing grass</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/ultimate-xml-banner-rotator/24895"><img alt="66276" border="0" height="80" id="thumb_24895" src="/files/66276.jpg?1230207864" width="80" /></a>
                  </div>

                  <a href="/item/ultimate-xml-banner-rotator/24895">Ultimate XML Banner Rotator</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/firmament/24862"><img alt="66911" border="0" height="80" id="thumb_24862" src="/files/66911.jpg?1230592730" width="80" /></a>
                  </div>

                  <a href="/item/firmament/24862">Firmament</a>
                </td>

                <td valign='top'>

                  <div>
                    <a href="/item/easy-plasma-effect/24947"><img alt="66449" border="0" height="80" id="thumb_24947" src="/files/66449.jpg?1230325697" width="80" /></a>
                  </div>

                  <a href="/item/easy-plasma-effect/24947">Easy Plasma Effect</a>
                </td>
                <td valign='top'>

                  <div>

                    <a href="/item/xml-slideshow-papervision-3d-transition/24901"><img alt="66286" border="0" height="80" id="thumb_24901" src="/files/66286.jpg?1230214884" width="80" /></a>
                  </div>

                  <a href="/item/xml-slideshow-papervision-3d-transition/24901">XML Slideshow Papervision 3D Transition</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/zoom-list-xml-image-list/24716"><img alt="65741" border="0" height="80" id="thumb_24716" src="/files/65741.jpg?1229966279" width="80" /></a>
                  </div>

                  <a href="/item/zoom-list-xml-image-list/24716">Zoom List - XML Image List</a>
                </td>
              </tr>
              <tr>
                <td valign='top'>

                  <div>
                    <a href="/item/slideshow-banner-rotator-xml-driven/24850"><img alt="66141" border="0" height="80" id="thumb_24850" src="/files/66141.jpg?1230118257" width="80" /></a>
                  </div>

                  <a href="/item/slideshow-banner-rotator-xml-driven/24850">Slideshow Banner Rotator - XML Driven</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/pop-up-information-button-v1/24741"><img alt="65868" border="0" height="80" id="thumb_24741" src="/files/65868.jpg?1229985996" width="80" /></a>
                  </div>

                  <a href="/item/pop-up-information-button-v1/24741">Pop Up Information Button v1</a>
                </td>

                <td valign='top'>

                  <div>
                    <a href="/item/power-on-preloader-v2/24807"><img alt="66023" border="0" height="80" id="thumb_24807" src="/files/66023.jpg?1230044836" width="80" /></a>
                  </div>

                  <a href="/item/power-on-preloader-v2/24807">Power On Preloader [v2]</a>
                </td>
                <td valign='top'>

                  <div>

                    <a href="/item/xml-banner-with-animated-texts-v3/24773"><img alt="65926" border="0" height="80" id="thumb_24773" src="/files/65926.jpg?1229997185" width="80" /></a>
                  </div>

                  <a href="/item/xml-banner-with-animated-texts-v3/24773">XML Banner with animated texts V3</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/xml-banner-xml-rotaotor/24916"><img alt="66341" border="0" height="80" id="thumb_24916" src="/files/66341.gif?1230246107" width="80" /></a>
                  </div>

                  <a href="/item/xml-banner-xml-rotaotor/24916">xml banner - xml rotaotor</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/picture-transition/24736"><img alt="65859" border="0" height="80" id="thumb_24736" src="/files/65859.jpg?1229984382" width="80" /></a>
                  </div>

                  <a href="/item/picture-transition/24736">Picture transition</a>
                </td>

                <td valign='top'>

                  <div>
                    <a href="/item/spiral-preloader/24718"><img alt="65747" border="0" height="80" id="thumb_24718" src="/files/65747.jpg?1229967054" width="80" /></a>
                  </div>

                  <a href="/item/spiral-preloader/24718">Spiral Preloader</a>
                </td>
              </tr>
            </table>

            <div class="end_link">
              <a href="/category/index" class="link_button_small">Continue Browsing</a>
            </div>
          </div>
          <!-- PANEL 2 - POPULAR -->
          <div id="panel_2" style="display:none;">
            <table cellpadding="0" cellspacing="0" class="recent_table">
              <tr>

                <td valign='top'>

                  <div>
                    <a href="/item/blue-christmas-card/24526"><img alt="65162" border="0" height="80" id="thumb_24526" src="/files/65162.jpg?1229758418" width="80" /></a>
                  </div>


                  38 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>1.</strong> <a href="/item/blue-christmas-card/24526">Blue Christmas card</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/banner-rotator-with-auto-delay-time/22243"><img alt="59650" border="0" height="80" id="thumb_22243" src="/files/59650.png?1227841638" width="80" /></a>
                  </div>


                  35 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>2.</strong> <a href="/item/banner-rotator-with-auto-delay-time/22243">BANNER ROTATOR with Auto Delay Time</a>
                </td>

                <td valign='top'>

                  <div>
                    <a href="/item/background-animation-blurry-light-cells/21980"><img alt="58005" border="0" height="80" id="thumb_21980" src="/files/58005.jpg?1227057241" width="80" /></a>
                  </div>


                  26 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>3.</strong> <a href="/item/background-animation-blurry-light-cells/21980">background animation - Blurry Light cells</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/advanced-xml-website/20118"><img alt="53647" border="0" height="80" id="thumb_20118" src="/files/53647.jpg?1225089358" width="80" /></a>
                  </div>


                  25 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>4.</strong> <a href="/item/advanced-xml-website/20118">Advanced XML Website</a>
                </td>

                <td valign='top'>

                  <div>
                    <a href="/item/realistic-fireworks-behind-your-foreground/24764"><img alt="65907" border="0" height="80" id="thumb_24764" src="/files/65907.jpg?1229993743" width="80" /></a>
                  </div>


                  20 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_off" src="/new/images/interface/star_off.gif?1225856722" />


                  <br />
                  <strong>5.</strong> <a href="/item/realistic-fireworks-behind-your-foreground/24764">Realistic fireworks behind your foreground</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/magical-snow-falling/21360"><img alt="56326" border="0" height="80" id="thumb_21360" src="/files/56326.jpg?1226274258" width="80" /></a>
                  </div>


                  19 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>6.</strong> <a href="/item/magical-snow-falling/21360">Magical Snow Falling</a>
                </td>

                <td valign='top'>

                  <div>
                    <a href="/item/zoom-pan-controls-with-dynamic-image-settings/15713"><img alt="40893" border="0" height="80" id="thumb_15713" src="/files/40893.png?1218137151" width="80" /></a>
                  </div>


                  19 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>7.</strong> <a href="/item/zoom-pan-controls-with-dynamic-image-settings/15713">ZOOM / PAN CONTROLS - With Dynamic Image & Settings</a>
                </td>
              </tr>
              <tr>
                <td valign='top'>

                  <div>

                    <a href="/item/xml-portfolio-template-v3/18585"><img alt="47882" border="0" height="80" id="thumb_18585" src="/files/47882.jpg?1222408270" width="80" /></a>
                  </div>


                  19 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>8.</strong> <a href="/item/xml-portfolio-template-v3/18585">XML Portfolio Template V3</a>

                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/complete-xml-website/22273"><img alt="58915" border="0" height="80" id="thumb_22273" src="/files/58915.jpg?1227530257" width="80" /></a>
                  </div>


                  16 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>9.</strong> <a href="/item/complete-xml-website/22273">COMPLETE XML WEBSITE</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/happy-new-year-2009-greetinganimation/23304"><img alt="61732" border="0" height="80" id="thumb_23304" src="/files/61732.jpg?1228576091" width="80" /></a>

                  </div>


                  15 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_off" src="/new/images/interface/star_off.gif?1225856722" />


                  <br />
                  <strong>10.</strong> <a href="/item/happy-new-year-2009-greetinganimation/23304">Happy New Year 2009 - Greeting/Animation</a>

                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/magic-christmas-star/6212"><img alt="14796" border="0" height="80" id="thumb_6212" src="/files/14796.jpg?1196342911" width="80" /></a>
                  </div>


                  15 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>11.</strong> <a href="/item/magic-christmas-star/6212">Magic Christmas Star</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/advanced-xml-image-gallery-/4746"><img alt="40123" border="0" height="80" id="thumb_4746" src="/files/40123.jpg?1217764680" width="80" /></a>

                  </div>


                  15 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>12.</strong> <a href="/item/advanced-xml-image-gallery-/4746">Advanced XML Image Gallery </a>

                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/opening-curtain/14496"><img alt="37358" border="0" height="80" id="thumb_14496" src="/files/37358.gif?1215790405" width="80" /></a>
                  </div>


                  14 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>13.</strong> <a href="/item/opening-curtain/14496">Opening curtain</a>
                </td>
                <td valign='top'>

                  <div>
                    <a href="/item/dynamic-photo-gallery-slideshow-xml-as3/23890"><img alt="65493" border="0" height="80" id="thumb_23890" src="/files/65493.jpg?1229887016" width="80" /></a>

                  </div>


                  14 Sales <br />

                  <img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" /><img alt="Star_on" src="/new/site_flashden.net/interface/star_on.gif?1225856722" />


                  <br />
                  <strong>14.</strong> <a href="/item/dynamic-photo-gallery-slideshow-xml-as3/23890">Dynamic Photo Gallery / Slideshow (XML / AS3)</a>

                </td>
              </tr>
            </table>
            <div class="end_link">
              <a href="/page/top_sellers" class="link_button_small">View More Popular Items</a>
            </div>
          </div>
          <!-- PANEL 3 - SEARCH -->

          <div id="panel_3" style="display:none;">
            <div id="panel_left">
              <img src="/new/images/interface/home_search.gif"><br />
              <form action="/searches" method="get">
                <input id="term" name="term" type="text" class="input_home" />
                <select id="type" name="type"><option value="files">All Files</option>
                  <option value="flash">Flash</option>
                  <option value="fonts">Fonts</option>

                  <option value="users">Users</option>
                  <option value="forums">Forums</option>
                  <option value="site">All Site</option>
                  <option value="entire_network">Entire Network</option></select>
                <input type="submit" value="Search" class="input_button"/>
              </form>
            </div>
            <div id="panel_right">

              <img src="/new/images/interface/home_browse.gif"><br />
              <a href="/category/flash" class="link_button">Flash</a>
              <a href="/category/fonts" class="link_button">Fonts</a>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

    </div>
    <div style="clear:both;"></div>
  </div>
<% end %>
